<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :phone_ext %><br />
    <%= f.number_field :phone_ext %>
  </div>
  <div class="field">
    <%= select_tag "center", options_for_select(@centers.collect { |center|
    [center.name, center.id] }, 1), id: 'centers_select' %>
    <%= select_tag "departments", options_for_select(@departments.collect { |department|
    [department.name, department.id] }, 1), id: 'departments_select' %>
    <%= f.select :laboratory_id, options_for_select(@laboratories.collect { |laboratory|
    [laboratory.name, laboratory.id] }, 0), {}, {id: 'laboratories_select'} %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
