<h1><%= t('headers.laboratories.edit')%></h1>

<%= render 'form', laboratory: @laboratory %>
<div class="row" style="margin: 5px">
  <div class="row">
    <div class="col-md-6">
      <%= button_to 'Voltar', centers_path, method: :get, class: 'btn btn-default btn-lg' %>
    </div>
  </div>
</div>
