<p id="notice"><%= notice %></p>

<h1>Laboratories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratories.each do |laboratory| %>
      <tr>
        <td><%= laboratory.name %></td>
        <td><%= laboratory.user %></td>
        <td><%= link_to 'Show', laboratory %></td>
        <td><%= link_to 'Edit', edit_laboratory_path(laboratory) %></td>
        <td><%= link_to 'Destroy', laboratory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laboratory', new_laboratory_path %>
