<% users.each do |user| %>
  <tr class="users">
    <td> <%=user.name%> </td>
    <td> <%=user.email%> </td>
    <td>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-laboratorios-<%=user.id%>">
        <span class="fa fa-fw fa-eye"/>
      </button>
    </td>
    <td> <%=user.phone_ext%> </td>
  </tr>
<% end %>
