<h1>Editing Center</h1>

<%= render 'form', center: @center %>

<%= link_to 'Show', @center, :class => "btn btn-default btn-lg" %> |
<%= link_to 'Back', centers_path, :class => "btn btn-default btn-lg" %>
