<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @center.name %>
</p>

<%= link_to 'Edit', edit_center_path(@center), :class => "btn btn-default btn-lg" %> |
<%= link_to 'Back', centers_path, :class => "btn btn-default btn-lg" %>
