<%= form_for(department) do |f| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :center_id %>
    <%= f.text_field :center_id %>
  </div>

  <div class="field">
    <%= f.label :chief %>
    <%= f.text_field :chief %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone_ext %>
    <%= f.text_field :phone_ext %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
