<h1><%= t('headers.sediments.new')%></h1>

<%= render 'form', sediment: @sediment %>

<div class="row" style="margin: 5px">
  <div class="row">
    <div class="col-md-6">
      <%= button_to 'Voltar', sediments_path, method: :get, class: 'btn btn-default btn-lg' %>
    </div>
  </div>
</div>
