<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <p>O Sistema de Gerenciamento de Resíduos Químicos da UFPE (SGRQ) foi criado com o intuito de facilitar e desburocratizar o controle sobre a geração,
                estoque, transporte e descarte ambientalmente adequado de resíduos químicos gerados pela Universidade.</p>
            </div>
            <div class="col-lg-4">
              <p>Projeto realizado por alunos do Centro de Informática (CIn - UFPE)
                em parceria com a Diretoria de Gestão Ambiental (DGA - UFPE),
                professores e servidores de diferentes departamentos do campus Recife da UFPE,
                a fim de facilitar os trabalhos da comunidade acadêmica em relação ao gerenciamento de resíduos químicos.</p>
            </div>
        </div>
    </div>
</section>

