<header>
    <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <%= image_tag "freelancer/ufpe.png", class:"img-responsive", style:"max-width: 70%", alt:"" %>
          </div>
          <div class="col-lg-6">
            <%= image_tag "freelancer/DGA.png", class:"img-responsive", alt:"" %>
          </div>
            <div class="col-lg-12">

                <div class="intro-text">
                    <span class="name">Gestão de Resíduos Químicos</span>
                    <hr class="star-light">
                    <span class="skills">Universidade Federal de Pernambuco</span>
                </div>
            </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <%= link_to 'Fazer login ou Cadastrar-se', unauthenticated_root_path,
                          method: :get, class: 'btn btn-lg btn-outline' %>
          </div>
        </div>
    </div>
</header>

