<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="2017-08-31T19:22:10.916587130"/>
	<style type="text/css">
		td p { font-weight: bold }
	</style>
</head>
<body lang="pt-BR" dir="ltr">
<h1>MTR – MANIFESTO PARA TRANSPORTE DE RESÍDUO PERIGOSO N.</h1>
<table width="100%" cellpadding="4" cellspacing="0">

	<col width="85*">
	<col width="85*">
	<col width="85*">
	<tr>
		<td colspan="3" width="100%" valign="bottom" style="border: 1px solid #000000; padding: 0.04in">
			<p align="left" style="margin-bottom: 0in; font-weight: normal">1. Gerador</p>
			<p align="left" style="margin-bottom: 0in; font-weight: normal">Razão Social: Universidade Federal de Pernambuco</p>
			<p align="left" style="margin-bottom: 0in; font-weight: normal">Endereço: Avenida Professor Moraes Rego, no 1235 - Cidade Universitária - Recife - PE</p>
			<p align="left" style="font-weight: normal">Tel.: (81) 2126-8076</p>
		</td>
	</tr>
	<tr>
		<td colspan="3" width="100%" valign="bottom" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="left" style="font-weight: normal">2. Descrição dos Resíduos</p>
		</td>
	</tr>

	<tr valign="bottom">
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal">Centro / Departamento</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal">Tipo dos resíduos</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="left" style="font-weight: normal">Quantidade total (kg)</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>


			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
		<td width="33%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="left" style="font-weight: normal"><br/>

			</p>
		</td>
	</tr>

</table>
<p><br/>
<br/>

</p>
</body>
</html>